data_thuyg20_sre/
pyAudioAnalysis/
speechpy/
python_speech_features/sound_files/*
voices_processed/
WebApp/env/
WebApp/voices_raw/
WebApp/voices_processed/
WebApp/temp/*
WebApp/temp/test/*
WebApp/train_data/*
WebApp/train_data/voices_raw/*
WebApp/train_data/voices_processed/*
WebApp/test_data/*
WebApp/test_data/voices_raw/*
WebApp/test_data/voices_processed/*
WebApp/app/__pycache__/
dataset/
env/
raw/
