data_thuyg20_sre/
pyAudioAnalysis/
speechpy/
python_speech_features/sound_files/*
voices_processed/
WebApp/env/
WebApp/voices_raw/
WebApp/voices_processed/
WebApp/temp/*
WebApp/temp/test/*
WebApp/app/__pycache__/
dataset/
env/
raw/
