{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <div class="d-flex justify-content-center">
      <h1>Speaker Recognition</h1>
    </div>
    <div class="d-flex justify-content-around align-items-center">
      <p><a class="btn btn-lg btn-primary" href="enrollSpeaker" role="button">Enroll Speaker</a></p>
      <p><a class="btn btn-lg btn-success" href="trainModel" role="button">Train Model</a></p>
      <p><a class="btn btn-lg btn-warning" href="recognizeSpeaker" role="button">Recognize Speaker</a></p>
    </div>
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
        <span class="progress-bar-label">0%</span>
      </div>
    </div>
  </div>
</div>
<!-- 
<script>
  var source = new EventSource("/progress");
  source.onmessage = function(event) {
    $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
    $('.progress-bar-label').text(event.data+'%');
    if(event.data == 100){
      source.close()
    }
  }
</script>
 -->
{% endblock %}
