{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="jumbotron">
    <div class="d-flex justify-content-center">
      <h1>Speaker Recognition</h1>
    </div>
    <div class="d-flex justify-content-around align-items-center">
      <p><a class="btn btn-lg btn-primary" href="enrollSpeaker" role="button">Enroll Speaker</a></p>
      <p><a class="btn btn-lg btn-success" href="trainModel" role="button">Train Model</a></p>
      <p><a class="btn btn-lg btn-warning" href="recognizeSpeaker" role="button">Recognize Speaker</a></p>
    </div>
  </div>
</div>
{% endblock %}
